<div class="page">
  <div class="content">
    <h1>What is your favourite cheese?</h1>

    <div class="last-cheese">
      <img [@lastCheese]
           [src]="'/assets/' + lastCheese + '.jpg'"
           class="last-cheese-image"
           *ngIf="lastCheese"/>
      <img *ngIf="!lastCheese && !processingUpdate"
           class="no-cheese-image"
           src="/assets/no-cheese.jpg">
    </div>

    <ul class="cheese-tallies">
      <li [@pollChange]="votes.asiago">Asiago {{votes.asiago}}</li>
      <li [@pollChange]="votes.brie">Brie {{votes.brie}}</li>
      <li [@pollChange]="votes.cheddar">Cheddar {{votes.cheddar}}</li>
    </ul>

    <div>
      <button class="vote-button" (click)="vote('asiago')">Asiago</button>
      <button class="vote-button" (click)="vote('brie')">Brie</button>
      <button class="vote-button" (click)="vote('cheddar')">Cheddar</button>
    </div>
  </div>
</div>
